<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>
    <div class="row">
        <div class="u-margin-bottom-medium"></div>
        <h2 class="heading-secondary "> <%= data.name %> </h2>
        <video width="320" height="240" controls autoplay>
            <source src="../../../../video/<%= data.name.replace(/\s/g, '') + '.mp4' %>" type="video/mp4">

        </video>
    </div>

    <%- include('../partials/footer') %>
</body>

<script src='/js/logout.js'>
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'>
</script>
<!-- <script src='/js/video.js'></script> -->

</html>